/* ------------------------------- */


/* responsive css*/



@media only screen and (max-width: 640px) {
	
}

/* Small devices (portrait tablets and large phones, 767px and up) */

@media only screen and (max-width: 767px) {
	.footer-main {
		vertical-align: middle;
		align-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	.footer-image {
		position: inherit;
		left: 0;
		padding-bottom: 50px;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul.footer-last-taxt {
		padding-bottom: 60px !important;color: #ffffff;
	}
	.main-bg-image{background: inherit; width: 100%;}
	.first-text-part h1{font-size: 24px;line-height: 1.25; width: 100%;}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.first-text-part h1 {
		font-size: 24px;
		/* max-width: 350px; */
		width: 100%;
		line-height: 1.25;
		width: 100%;
	}
	.first-text-part h4 {
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: normal;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	.first-image-part {
		position: inherit;
		max-width: 375px;
		margin: 0 auto;
	}
	.first-image-part img {
		position: inherit;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;
	}
	.sm-center {
		width: 100%;
		text-align: center;
	}
	.btn-3a.bg-orang-btn {
		width: 270px;
		height: 55px;
		font-family: HDI-GerlingSans;
		font-size: 20px;
		padding: 10px 50px 10px 5px;
		font-weight: bold;
	}
	.btn-3:after {
		width: 53px;
		padding: 0px;
		font-size: 35px;
	}
	.top-second-part {
		/* max-width: 346px; */
		text-align: left;
		margin: 0;
		width: 100%;
	}
	.top-second-part h3{font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #009c33;}
		.top-second-part p {
			font-size: 17px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.35;
			letter-spacing: normal;
			color: #000000;float: left;    margin: 0;padding: 0;
		}
		.bg-wight {
			padding-bottom: 50px;
		}
		.accordian-slider .owl-dots {
			margin: 0;
		}
		.top-third-part .d-flex {
			flex-direction: column;
		}
		.third-part-image {
			padding-top: 0;
			z-index: -1;
			float: left;
			margin-top: -40px;
		}
		.top-forth-part .d-flex {
			flex-direction: column-reverse;
		}
		.top-forth-part-image {
			padding-top: 40px;
			max-width: 375px !important;
			margin: 0 auto;
		}
		.forth-part-text {
			text-align: left;
		}
		.forth-part-text p {
			width: 100%;
			float: left;
			font-size: 17px;
			line-height: 1.35;margin: 0;
		}
		.top-fift-part {
			float: left;
		}
		.fift-text-part {
			width: 100%;
			float: left;
			height: 100%;
			text-align: left;
		}
		.fift-text-part p {
			margin-bottom: 16px;
		}
		.top-fift-image {
			width: 100%;
			margin-top: 30px;
			float: left;
		}
		.switching-part p {
			font-size: 19px;
			font-weight: 300;
			line-height: 1.32;
			padding-bottom: 30px;
		}
		.switching-part h3 {
			font-size: 24px;
			padding: 0;
			margin: 0;
			line-height: 1.25;
		}
		.protaction-part-title h3 {
			font-size: 24px;
			line-height: 1.25;
		}
		.protaction-part-title {
			width: 100%;
			height: 100%;
			margin: 0 auto 90px;;
		}
		h3.protaction-title {
			font-size: 17px;
			line-height: 1.35;
		}
		.protaction-contant-part li {
			font-size: 15px;padding-bottom: 30px;}
		.protaction-part-title p {
			font-size: 19px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.84;
		}
		.protaction-table-part {
			padding-top: 20px;
		}
		.protaction-table-section {
			width: 100%;    max-width: 100%;}
		
		.switching-part-title {
			width: 100%;
		}
		.forth-part-text h4 {
			font-size: 17px;line-height: 1.35;}
			.top-third-part {float: left;}
			.third-part-text {
				padding-left: 0;
				width: 100%;
				float: left;
				padding-top: 0;
			}
			.top-forth-part {
				padding-top: 0px;
				float: left;
			}
			.third-part-text h4 {
				font-size: 17px;
				line-height: 1.35;
			}
			.third-part-text p {
				font-size: 17px;
				line-height: 1.35;
			}
			.protaction-table-section h5 {
				line-height: 1.81;
			}
			.acordian-bottom-part-title h3 {
				font-size: 24px;
				line-height: 1.25;
			}
			.accordion-heading {
				margin-bottom: 76px;
			}
			.accordian-part .accordion {
				max-width: 346px;
				margin: 0 auto;
			}
			.acordian-bottom-part-title {
				max-width: 344px;
			}
			.acordian-bottom-part-title p {
				font-size: 17px;
				line-height: 1.35;
			}
			.aword-part1 .w-50 {
				width: 100% !important;
				float: left;
			}
			.pos {
				position: inherit;
			}
			.image-test {
				height: auto;
				position: relative;
				overflow-x: hidden;
				margin-top: 50px;
			}
			img.aword-img1 {
				padding-right: 0;
				margin-left: 28px;
				width: 50%;
				height: 100%;
			}
			img.aword-img2 {
				overflow-x: hidden;
				width: 50%;
				float: left;
				position: absolute;
				right: -58px;
				height: 90%;
			}
			.awords-img .item {
				display: flex;
				vertical-align: middle;
				align-content: center;
				height: 200px;
			}
			.awords-img .item img {
				float: left;
				max-height: 100%;
				width: 80px;
				margin: auto;
			}
			.aword-part-taxt {
				max-width: 346px;
				margin: 0 auto;
				text-align: center;
			}
			.aword-part-taxt h3 {font-size: 24px; line-height: 1.25;}
			.aword-part-taxt p.title-p {
				font-size: 19px;
				line-height: 1.84;
			}
			.aword-part-taxt p.contant-p{width: 100%; height:100%;font-size: 17px;line-height: 1.35;
			  }
			  .faq-section .faq-part {
				max-width: 375px;
				margin: 0 auto;
			}
			.faq-accordion-heading a {
				font-size: 19px;
				font-weight: 300;
				font-stretch: condensed;
				font-style: normal;
				line-height: 1.32;
			}
			.faq-accordion-heading {
				padding: 10px 0;
			}
			.arrow-class button.owl-next, .arrow-class button.owl-prev {
				height: 40px !important;
				width: 40px!important;
				background: rgba(0, 156, 51, 0.45) !important;color: #ffffff !important;
			}
			.navbar-toggler-icon i{font-size: 32px;color: #009c33;}
			ul.navbar-nav.ml-auto.py-4.py-md-0 {
				background-color: rgba(0, 156, 51, 0.85);
				text-align: center;
			}
			.collapse.show a.nav-link {
				color: #fff;
				font-size: 19px;
				font-weight: bold;
			}
			.top-navbar a.navbar-brand {padding: 20px 15px;}
			.top-navbar .navbar-toggler {padding: 20px 15px;}
			.top-navbar .fixed-top {
				padding: 0;
			}
			/* .arrow-class button.owl-prev {
				background: rgba(0, 156, 51, 0.45) !important;
			} */
			.switching-first-image img {
				width: 51.6px !important;
				height: 75.1px !important;
			}
			li.switching-second-image {
				width: 80px;
				text-align: center;margin: 29px 0 31px 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.switching-second-image img {
				width: 55.9px !important;
				height: 75px !important;
			}
			li.img-last-part {
				width: 80px !important;
				text-align: center;
				display: flex;
				   align-items: center;
				   justify-content: center;
			}
			li.img-last-part img {
				width: 84px !important;
				height: 52.4px !important;
			}
			li.switching-first-image {
				width: 80px ;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.accordian-part a {
				font-size: 17px;}

	.none-sm {
		display: none;
	}
	.none-lg {
		display: block !important;
	}
	.top-navbar .navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
		display: none;
	}
}

@media only screen and (max-width: 450px){

}

@media only screen and (max-width: 370px){

}

@media only screen and (min-width: 320px) and (max-width:400px) {
	.arrow-class button.owl-prev {
		position: absolute;
		left: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.arrow-class button.owl-next {
		position: absolute;
		right: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.switching-part h3 {
		font-size: 19px;}
		.first-text-part h1 {
			font-size: 19px;}
			.top-navbar .fixed-top {
				padding: 20px 15px 0;
			}
			
			
	
}

@media only screen and (min-width: 768px) {
	.none-sm {
		display: block;
	}
	.none-lg {
		display: none !important;
	}
	
}
@media only screen and (max-width: 1000px) {
	
}

@media only screen and (min-width: 768px) and (max-width:991px) {
	/* .navbar-expand-md .navbar-nav .nav-link {
		padding-right: 5px;
		padding-left: 5px;
		font-size: 12px;
	}
	.switching-part-title {
		text-align: center;
	}
	.switching-part p {
		font-size: 18px;
	}
	.switching-part-title {
		padding: 0;
	}
	.switching-part p {
		font-size: 17px;
	}
	.protaction-part-title {
		padding: 0 70px;
	}
	.protaction-part-title h3 {
		font-size: 24px;
	}
	.protaction-part-title p {
		font-size: 18px;
	}
	h3.protaction-title {
		padding: 10px 0;
		font-size: 19px;
	}
	.protaction-table-section h4 {
		font-size: 16px;
		margin: 20px 0 5px 0;
	}
	.protaction-table-section h5 span {
		font-size: 28px;
	}
	.accordian-part {
		margin: 50px 0 0 0;
	}
	.acordian-bottom-part-title h3 {
		font-size: 24px;
		padding: 0 100px
	}
	.acordian-bottom-part-title h3 {
		font-size: 24px;
		padding: 0 100px
	}
	;
	.acordian-bottom-part-title p {
		font-size: 16px;
		padding: 0 100px
	}
	.slider-rate-part h4 {
		font-size: 16px;
	}
	.slider-rate-part h4 {
		font-size: 16px;
	}
	.switching-part-section .number-part {
		padding: 0 5px 0 5px;
		font-size: 25px;
	}
	.switching-part-section .text-part {
		font-size: 14px;
	}
	.switching-part h3 {
		font-size: 22px;
	}
	.acordian-bottom-part-title p {
		font-size: 16px;
		padding: 0 100px;
	}
	.accordian-part a {
		color: #009c33;
		font-size: 17px;
	}
	.acordian-bottom-part-title h3 {
		font-size: 24px;
		padding: 0;
	}
	.acordian-bottom-part-title p {
		font-size: 17px;
		padding: 0;
    }
    .aword-part-taxt h3 {
        font-size: 20px;padding-right: 0px;}
    .img-2 {height: 245px;width: 250px;}
    .img-1 {
        height: 270px;
        width: 210px;}
        .btn-3a { padding: 8px 40px 8px 10px;}
        .slider-rate-part p {
            font-size: 14px !important;
        }
        .back.face.center {
            padding: 15px;
        }
        #f1_container {
            height: 220px;}
		.footer-main ul{padding: 60px 20px 60px 0 !important;}
		.image-part-height {
			height: 200px;
		} */
		.img-2 {
			height: 192px;
			width: 185px;}
			.img-1 {
				height: 215px;
				width: 165px;}
				.aword-part-taxt p.contant-p {
					max-width: 436px;
					max-height: inherit;}
					.aword-part-taxt h3 {
						font-size: 20px;}
						.aword-part-taxt p.title-p {
							font-size: 18px;}
							a.nav-link {
								font-size: 15px;}
								.top-navbar .ml-md-4, .mx-md-4 {
									margin-left: 0.5rem!important;
								}
								.btn-3a.bg-orang-btn {
									font-size: 14px;}
									.border-btn {
										font-size: 17px;}
										.top-navbar .fixed-top {
											padding: 20px 50px;}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width:1199px) {
    /* .aword-part-taxt h3 {
        font-size: 20px;padding: 0;}
    .img-2 {height: 245px;width: 250px;}
    .img-1 {
        height: 270px;
        width: 210px;}
	.switching-part-title {
		padding: 0;
	}
	.switching-part h3 {
		font-size: 25px;
	}
	.switching-part p {
		font-size: 19px;
	}
	.switching-part-section img {
		width: 60px;
		height: 80px;
	}
	.switching-part-section .number-part {
		padding: 0 10px 0 10px;
		font-size: 40px;
	}
	.switching-part-section .text-part {
		font-family: HDI-GerlingSans;
		font-size: 16px;
	}
	.protaction-part-title h3 {
		font-size: 25px;
	}
	.protaction-part-title p {
		font-size: 18px;
	}
	.acordian-bottom-part-title h3 {
		font-size: 25px;
		padding: 0 200px;
	}
	.accordian-part {
		margin: 30px 0 0px 0;
	}
	.acordian-bottom-part-title p {
		font-size: 16px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 6px;
		padding-left: 5px;
		font-size: 16px;
	}
	.slider-rate-part h4 {
		font-size: 18px;
	} */
	.img-1 {
		height: 280px;
		width: 215px;}
	.img-2 {height: 250px;width: 270px;}
	.aword-part-taxt h3 {font-size: 28px;}
	.aword-part-taxt p.title-p {
		font-size: 18px;}
		.aword-part-taxt p.contant-p{max-height:inherit ;}
		.arrow-class button.owl-next {
			right: -35px;}
			.arrow-class button.owl-prev {
				left: -35px;}
	}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 768px) and (max-width:1000px) {

	/* .main-bg-image {
	background: url(../images/Street_Straße.svg) center -50px / 100% no-repeat;}
	.first-text-part h1 {font-size: 24px;}
	.first-text-part h4 {font-size: 18px;}
	.main-bg-image .m-t-b-20 {margin: 0;}
	.first-text-part ul li {font-size: 14px;}
	.first-image-part img {top: -80px;}
	.top-second-part {	padding: 15px 0 0;}
	.top-second-part h3 {font-size: 22px;}
	.third-part-text h4 {font-size: 16px;}
	.main-bg-image p {
		font-size: 14px;
	}
	.top-fift-image {
		width: 200px;}
	.fift-text-part h3 {font-size: 18px; padding-top : 0;}
	.fift-text-part {padding: 0 0px 0 150px;}
	.third-part-image {padding-top: 0;padding-right: 40px;margin-top: 0px;}
	.third-part-text {	padding-top: 0;padding-left: 10px;}
	.top-forth-part {
		padding-top: 60px;
	}
	.main-bg-image .border-btn {
		margin: 0;
		padding: 5px 20px;
	}
	.top-fift-image {
		width: 340px;
	}
	.top-forth-part-image {
		margin-top: 45px;
	}
	.forth-part-text h4 {
		font-size: 16px;
	} */
}
@media only screen and (min-width: 780px) and (max-width:800px) {
	/* .first-image-part img {
		top: -75px;
	}
	.top-second-part {
		padding: 22px 0 0;
	}
	.top-forth-part-image {
		margin-top: 52px;
	}
	.fift-text-part h3 {
		padding-top: 5px;
	} */

}
@media only screen and (min-width: 801px) and (max-width:812px) {
	.first-image-part img {top: -90px;}
	.third-part-image {padding-top: 35px;}
	.top-forth-part {padding-top: 75px;}
	.fift-text-part h3 {padding-top: 20px;}
	.top-first-part {padding-top: 50px;}
	.top-second-part p {padding: 0 137px;}
	.top-second-part {padding: 0; margin-top: -15px;}
	.top-forth-part-image {margin-top: 10px;}

}

@media only screen and (min-width: 850px) and (max-width:896px) {
	.top-first-part {
		padding-top: 40px;
	}
	.main-bg-image {
		background: url(../images/Street_Straße.svg) center -44px / 100% no-repeat;
	}
	.top-second-part p {
		padding: 0 138px;
	}
	.top-second-part {
		padding: 40px 0 0;
	}
	.top-third-part {
		padding-top: 35px;
	}
	.third-part-text {
		padding-left: 20px;
	}
	.third-part-image {
		margin-top: 5px;
	}
	.top-forth-part {
		padding-top: 115px;
	}
	.top-forth-part .border-btn {
		margin-top: 0 !important;padding: 5px 20px;
	}
	.forth-part-text h4 {
		font-size: 16px;}
		.top-fift-image {
			width: 400px;
		}
		.fift-text-part {
			padding: 25px 0px 0 150px;
		}
		.top-forth-part-image {
			margin-top: 22px;
		}
		.border-btn {padding: 5px 20px;}
	}
@media only screen and (min-width: 1000px) and (max-width:1024px) {

}

@media only screen and (min-width: 1050px) and (max-width:1080px) {
	.first-text-part h1 {font-size: 32px;}
	.main-bg-image {background: url(../images/Street_Straße.svg) center -60px / 100% no-repeat;}
	.top-second-part {width: 100%; padding: 80px 0 0;}
	.top-second-part p {padding: 0 185px;}
	.top-second-part {padding: 0;}
	.third-part-image {padding-top: 10px;}
	.third-part-text p {padding: 0 5px;}
	.third-part-text {padding-left: 50px;padding-top: 15px;}
	.third-part-image {padding-top: 0px;}
	.top-forth-part {padding-top: 40px;}
	.forth-part-text p {padding: 0 20px;margin-bottom: 5px;}
	.top-forth-part-image {padding-top: 35px;}
	.forth-part-text .border-btn {margin: 5px 0;}
	.fift-text-part h3 {padding: 10px 0;margin: 0;}
	.fift-text-part .m-t-b-20 {margin: 0;}
	.fift-text-part {width: 100%; padding: 0 200px;}
	.top-fift-image {width: 440px;}
	.switching-part-section .number-part {padding: 0 5px 0;font-size: 30px;}
}

@media only screen and (min-width: 1200px) and (max-width:1250px) {
	.top-forth-part {
		padding-top: 100px;
	}
	.top-forth-part-image {padding-top: 20px;}
	.fift-text-part h3 {padding-top: 0;}
	
} 
@media only screen and (min-width: 1251px) and (max-width:1280px) {
	/* .third-part-image {padding-top: 40px;}
	.third-part-image {padding-top: 35px;}
	.forth-part-text p{padding-left: 130px;margin-bottom: 0;}
	.top-forth-part {padding-top: 145px;}
	.fift-text-part p{padding: 0 132px;}
	.fift-text-part {padding: 0 200px !important;}
	.top-forth-part-image {padding-top: 15px;}
	.top-fift-image {width: 490px;}
	.switching-part {padding-top: 50px;}
	.accordian-part {margin-bottom: 0;}
	.acordian-bottom-part-title p {padding: 0 280px;}
	.aword-part-taxt p.contant-p {padding: 0 145px 0px 0;} */
	
} 

@media only screen and (min-width: 1350px) and (max-width:1366px){
	.main-bg-image {background: url(../images/Street_Straße.svg) center -90px / 100% no-repeat;}
	.top-second-part{padding-top: 80px;}
	.top-third-part {padding-top: 40px;}
	.top-forth-part {padding-top: 192px;}
	.top-fift-image {width: 550px;}
	.first-image-part img {top: -165px;}

}


@media only screen and (min-width: 1400px) and (max-width:1440px) {
	.main-bg-image {background: url(../images/Street_Straße.svg) center -120px / 100% no-repeat;}
	.top-second-part {padding: 130px 237px 0;}
	.third-part-image {padding-top: 105px;}
	.top-forth-part {padding-top: 250px;}
	.top-forth-part-image {padding-top: 25px;}
	.fift-text-part h3 {padding-top: 70px;}
}
@media only screen and (min-width: 1500px) and (max-width:1536px) {
	.third-part-image {padding-top: 90px;}
	.third-part-text {padding-left: 150px;padding-top: 130px;}
	.top-second-part {padding: 200px 237px 0;}
	.main-bg-image {
		background: url(../images/Street_Straße.svg) center -150px / 100% no-repeat;}
		.top-forth-part {
			padding-top: 250px;
		}
		.fift-text-part h3 {
			padding-top: 120px;
		}

}
@media only screen and (min-width: 1850px) and (max-width:1920px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 80%;
	}
	.main-bg-image {
		background: url(../images/Street_Straße.svg) center -180px / 100% no-repeat;
	}
	.top-second-part p {
		padding: 0 195px;
	}
	.top-second-part {width: 100%;padding: 350px 275px 0;}
	.top-third-part {padding-top: 75px;}
	.third-part-text p {padding: 0 224px 0 0;}
	.forth-part-text p {padding-left: 330px;}
	.top-forth-part {padding-top: 315px;}
	.fift-text-part p {padding: 0 310px;}
	.fift-text-part h3 {padding: 170px 160px 0px;}
	.top-fift-image {
		width: 740px;}
	
	
}