/* ------------------------------- */


/* responsive css*/



@media only screen and (max-width: 640px) {
	
}

/* Small devices (portrait tablets and large phones, 767px and up) */

@media only screen and (max-width: 767px) {
	.fift-text-part h3{font-size: 24px;line-height: 1.25;}
	.main-content .owl-theme .custom-nav {
		top: 40%;}
	.top-third-part {
		margin-top: 45px;
	}
	.footer-main {
		vertical-align: middle;
		align-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	.footer-image {
		position: inherit;
		left: 0;
		padding-bottom: 50px;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul.footer-last-taxt {
		padding-bottom: 60px !important;color: #ffffff;
	}
	.main-bg-image{background: inherit; width: 100%;}
	.first-text-part h1{font-size: 24px;line-height: 1.25; width: 100%;}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.faq-accordion-heading a span {
		width: 300px;
		float: left;
	}
	.first-text-part h1 {
		font-size: 24px;
		/* max-width: 350px; */
		width: 100%;
		line-height: 1.25;
		width: 100%;
	}
	.first-text-part h4 {
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: normal;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	.first-image-part {
		position: inherit;
		max-width: 375px;
		margin: 0 auto;
	}
	.first-image-part img {
		position: inherit;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;padding-bottom: 30px;
	}
	.first-text-part .sm-center {
		margin-top: 10px;
	}
	.sm-center {
		width: 100%;
		text-align: center;
	}
	.btn-3a.bg-orang-btn {
		width: 270px;
		height: 55px;
		font-family: HDI-GerlingSans;
		font-size: 20px;
		padding: 10px 50px 10px 5px;
		font-weight: bold;
	}
	.btn-3:after {
		width: 53px;
		padding: 0px;
		font-size: 35px;
	}
	.top-second-part {
		max-width: 346px;
		text-align: left;
		margin: 0 auto;
		height: inherit;
		padding-top: 76px;
		width: 100%;
	}
	.top-second-part h3{font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #009c33;}
		.top-second-part p {
			font-size: 17px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.35;
			letter-spacing: normal;
			color: #000000;float: left;    margin: 0;padding: 0;
		}
		.bg-wight {
			padding-bottom: 0px;
		}
		.open-more-option {
			padding-top: 3px;
		}
		.accordian-slider .owl-dots {
			margin: 40px 0 7px 0;;
		}
		.hover-image-slider .owl-dots {
			margin: 37px 0 19px 0;
		}
		.aword-part-taxt-title {
			max-width: 346px;
			margin: 0 auto;
		}
		
		.top-third-part .d-flex {
			flex-direction: column;
		}
		.third-part-image {
			padding: 0;
			max-width: 361px;
			height: 204px;
			margin: -40px auto 0;
		}
		.top-forth-part .d-flex {
			flex-direction: column-reverse;
		}
		.top-forth-part-image {
			padding-top: 32px;
			max-width: 375px !important;
			margin: 0 auto;
		}
		.forth-part-text {
			text-align: left;
			text-align: left;
    		max-width: 346px;
    		margin: 0 auto;    padding-top: 10px;
		}
		.forth-part-text p {
			width: 100%;
			float: left;
			font-size: 17px;
			line-height: 1.35;margin: 0;padding-bottom: 7px;

		}
		.top-fift-part {
			max-width: 346px;
			margin: 0 auto;
		}
		.fift-text-part {
			width: 100%;
			height: 100%;
			text-align: left;
			margin: 43px auto 0;
			display: inline-block;
		}
		.fift-text-part p {
			margin-bottom: 16px;
			font-size: 17px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.35;
		}
		.top-fift-image {
			width: 100%;
			margin-top: 18px;
			max-width: 375px;
			display: inline-block;
		}
		.top-fift-image img {
			max-width: 375px;
			float: left;
		}
		.switching-part {
			padding-top: 63px;
		}
		.switching-part p {
			font-size: 19px;
			font-weight: 300;
			line-height: 1.32;
			padding-bottom: 33px;
		}
		.switching-part h3 {
			font-size: 24px;
			padding: 0;
			margin: 0;
			line-height: 1.25;
			padding-bottom: 5px;
		}
		.switching-part-section ul {
			max-width: 320px;
			margin: 0 auto;
		}
		.protaction-part-title h3 {
			font-size: 24px;
			line-height: 1.25;
		}
		.protaction-part-title {
			width: 100%;
			height: 100%;
			margin: 0 auto 17px;
			max-width: 320px;
		}
		.image-part img {max-height: 150px;}
		.image-part-height {height: 150px;}				
		h3.protaction-title {
			font-size: 19px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.16;
			letter-spacing: 0.95px;
		}
		.protaction-table-section.m-l-r-10 {
			margin: 0 !important;
		}
		.protaction-table-section h4 {margin: 24px 0 33px;}
		.protaction-table-section h5 span {line-height: 0.83;}
		.protaction-table-section .border-btn {margin: 30px 0 33px 0;}
		.protaction-contant-part li {padding-bottom: 30px;font-size: 16px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.38;}
		.protaction-part-title p {
			font-size: 19px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.84;
		}
		.protaction-table-part {
			padding-top: 20px;
		}
		.protaction-table-section {
			width: 100%;    max-width: 100%;}
		
		.switching-part-title {
			width: 100%;max-width: 320px;
			margin: 0 auto;
		}
		.forth-part-text h4 {
			font-size: 17px;line-height: 1.35;}
			.top-third-part {float: left;}
			.third-part-text {
				padding-left: 0;
				max-width: 346px;
				float: left;
				padding-top: 25px;
				margin: 0 auto;
			}
			.border-btn {
				width: 230px;
			}
			.top-forth-part {
				padding-top: 0px;
				float: left;
			}
			.third-part-text h4 {
				font-size: 17px;
				line-height: 1.35;
			}
			.third-part-text p {
				font-size: 17px;
				line-height: 1.35;margin-bottom: 21px;
			}
			.protaction-table-section h5 {
				line-height: 1.81;
			}
			.acordian-bottom-part-title h3 {
				font-size: 24px;
				line-height: 1.25;
			}
			.accordion-heading {
				margin-bottom: 0;
			}
			.accordian-part .accordion {
				max-width: 346px;
				margin: 0 auto;
			}
			.acordian-bottom-part-title {
				max-width: 344px;
				margin-top: 76px;
				display: inline-block;
			}
			.accordion-inner.accordian-table {
				margin-top: 42px;
			}
			.acordian-bottom-part-title p {
				font-size: 17px;
				line-height: 1.35;
			}
			.aword-part1 .w-50 {
				width: 100% !important;
				float: left;
			}
			.pos {
				position: inherit;
			}
			.image-test {
				height: auto;
				position: relative;
				overflow-x: hidden;
				margin-top: 50px;
			}
			img.aword-img1 {
				padding-right: 0;
				margin-left: 28px;
				width: 50%;
				height: 100%;
			}
			img.aword-img2 {
				overflow-x: hidden;
				width: 50%;
				float: left;
				position: absolute;
				right: -58px;
				height: 90%;
			}
			.awords-img .item {
				display: flex;
				vertical-align: middle;
				align-content: center;
				height: 200px;
			}
			.awords-img .item img {
				float: left;
				max-height: 100%;
				width: 80px;
				margin: auto;
			}
			.aword-part-taxt {
				max-width: 346px;
				margin: 0 auto;
				text-align: center;
			}
			.aword-part-taxt h3 {font-size: 24px; line-height: 1.25;padding: 0 20px;}
			.aword-part-taxt p.title-p {
				font-size: 19px;
				line-height: 1.84;
			}
			.aword-part-taxt p.contant-p{width: 100%; height:100%;font-size: 17px;line-height: 1.35;
			  }
			  .faq-section .faq-part {
				max-width: 375px;
				margin: 0 auto;
			}
			.faq-accordion-heading a {
				font-size: 19px;
				font-weight: 300;
				font-stretch: condensed;
				font-style: normal;
				line-height: 1.32;
			}
			.faq-accordion-heading {
				padding: 10px 0;
			}
			.arrow-class button.owl-next, .arrow-class button.owl-prev {
				height: 40px !important;
				width: 40px!important;
				background: rgba(0, 156, 51, 0.45) !important;color: #ffffff !important;
			}
			
			.navbar-toggler-icon i{font-size: 32px;color: #009c33;}
			ul.navbar-nav.ml-auto.py-4.py-md-0 {
				background-color: rgba(0, 156, 51, 0.85);
				text-align: center;
			}
			.collapse.show a.nav-link {
				color: #fff;
				font-size: 19px;
				font-weight: bold;
			}
			.top-navbar a.navbar-brand {padding: 20px 15px;}
			.top-navbar .navbar-toggler {padding: 20px 15px;}
			.top-navbar .fixed-top {
				padding: 0;
			}
			/* .arrow-class button.owl-prev {
				background: rgba(0, 156, 51, 0.45) !important;
			} */
			.switching-first-image img {
				width: 51.6px !important;
				height: 75.1px !important;
			}
			li.switching-second-image {
				width: 100px;
				text-align: center;margin: 29px 0 31px 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.switching-second-image img {
				width: 55.9px !important;
				height: 75px !important;
			}
			li.img-last-part {
				width: 100px !important;
				text-align: center;
				display: flex;
				   align-items: center;
				   justify-content: center;
			}
			li.img-last-part img {
				width: 84px !important;
				height: 52.4px !important;
			}
			li.switching-first-image {
				width: 100px ;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.accordian-part a {
				font-size: 17px;}

	.none-sm {
		display: none;
	}
	.none-lg {
		display: block !important;
	}
	.top-navbar .navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
		display: none;
	}
}


@media only screen and (max-width: 450px){

}

@media only screen and (max-width: 370px){

}

@media only screen and (min-width: 320px) and (max-width:400px) {
	.arrow-class button.owl-prev {
		position: absolute;
		left: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.first-text-part h1 {
		font-size: 18px !important;}
	.arrow-class button.owl-next {
		position: absolute;
		right: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.switching-part h3 {
		font-size: 19px;}
		.first-text-part h1 {
			font-size: 19px;}
			.top-navbar .fixed-top {
				padding: 20px 15px 0;
			}
	.faq-accordion-heading a span {
    width: 280px;
    float: left;}
}
			
			
	


@media only screen and (min-width: 768px) {
	.none-sm {
		display: block;
	}
	.none-lg {
		display: none !important;
	}
	
}
@media only screen and (max-width: 1024px) {
	.main-bg-image {
		background: inherit;
		width: 100%;
	}
	.first-text-part h1 {
		font-size: 24px;
		width: 100%;
		line-height: 1.25;
		width: 100%;
	}
	.first-text-part h4 {
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: normal;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;
		padding-bottom: 30px;
	}
	.first-text-part .sm-center {
		margin-top: 10px;
	}
	.btn-3a.bg-orang-btn {
		width: 270px;
		height: 55px;
		font-family: HDI-GerlingSans;
		font-size: 20px;
		padding: 10px 50px 10px 5px;
		font-weight: bold;
	}
	.btn-3:after {
		width: 53px;
		padding: 0px;
		font-size: 35px;
	}
	.first-image-part {
		position: inherit;
		max-width: 375px;
		margin: 0 auto;
	}
	.first-image-part img {
		position: inherit;
	}
	.top-second-part {
		max-width: 346px;
		text-align: left;
		margin: 0 auto;
		height: inherit;
		padding-top: 76px;
		width: 100%;
	}
	.top-second-part h3 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #009c33;
	}
	.first-text-part {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	.top-third-part {
		float: left;    margin-top: 45px;
	}
	.top-third-part .d-flex {
		flex-direction: column;
	}
	.third-part-image {
		padding: 0;
		max-width: 361px;
		height: 204px;
		margin: -40px auto 0;
	}
	.third-part-text {
		padding-left: 0;
		max-width: 346px;
		float: left;
		padding-top: 25px;
		margin: 0 auto;
	}
	.third-part-text h4 {
		font-size: 17px;
		line-height: 1.35;
	}
	.third-part-text p {
		font-size: 17px;
		line-height: 1.35;
		margin-bottom: 21px;
	}
	.sm-center {
		width: 100%;
		text-align: center;
	}
	.border-btn {
		width: 230px;
	}
	.bg-wight .border-btn  {
		max-width: 230px;
	}
	.border-btn:hover a{color: #fff;}
	.top-forth-part {
		padding-top: 0px;
		float: left;
	}
	.top-forth-part .d-flex {
		flex-direction: column-reverse;
	}
	.forth-part-text {
		text-align: left;
		text-align: left;
		max-width: 346px;
		margin: 0 auto;
		padding-top: 10px;
	}
	.forth-part-text h4 {
		font-size: 17px;
		line-height: 1.35;
	}
	.forth-part-text p {
		width: 100%;
		float: left;
		font-size: 17px;
		line-height: 1.35;
		margin: 0;
		padding-bottom: 7px;
	}
	.top-forth-part-image {
		padding-top: 32px;
		max-width: 375px !important;
		margin: 0 auto;
	}
	.top-fift-part {
		max-width: 346px;
		margin: 0 auto;
	}
	.fift-text-part {
		width: 100%;
		height: 100%;
		text-align: left;
		margin: 43px auto 0;
		display: inline-block;
	}
	.fift-text-part h3 {
		font-size: 24px;
		line-height: 1.25;
	}
	.fift-text-part p {
		margin-bottom: 16px;
		font-size: 17px;
		font-weight: 300;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.35;
	}
	.top-fift-image {
		width: 100%;
		margin-top: 18px;
		max-width: 375px;
		display: inline-block;
	}
	.top-fift-image img {
		max-width: 375px;
		float: left;
	}
}

@media only screen and (min-width: 768px) and (max-width:991px) {
		.slider-rate-part h4 {
			font-size: 18px;}
		
		.img-2 {height: 192px;width: 185px;}
		.img-1 {height: 215px;width: 165px;}
		.aword-part-taxt p.contant-p {max-width: 436px;max-height: inherit;}
		.aword-part-taxt h3 {font-size: 20px;}
		.aword-part-taxt p.title-p {font-size: 18px;}
		a.nav-link {font-size: 15px;}
		.top-navbar .ml-md-4, .mx-md-4 {margin-left: 0.5rem!important;}
		.btn-3a.bg-orang-btn {font-size: 14px;}
		.border-btn {font-size: 17px;}
		.top-navbar .fixed-top {padding: 20px 50px;}
		.back.face.center {padding: 20px;}
		.image-part-height {
			height: 150px;
		}
		.top-navbar .fixed-top {
			padding: 10px 30px;
		}
		.image-part img {
			max-height: 150px;
		}
		.protaction-table-section h4 {font-size: 18px;}
		.protaction-table-section h5 span {font-size: 30px;}
		ul.hegiht-protection {height: 540px;}
		ul.footer-text {padding: 82px 50px 82px 0 !important;}
		ul.footer-icon {padding: 82px 50px 82px 0 !important;}
		ul.footer-last-taxt {padding: 82px 50px 82px 0 !important;}
		.arrow-class button.owl-prev {
			left: -40px;}
		.arrow-class button.owl-next {
				right: -40px;}
		
		
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width:1199px) {
    ul.hegiht-protection {height: 500px;}
	.image-part img {max-height: 205px;}
	.image-part-height {height: 200px;}

	.img-1 {
		height: 280px;
		width: 215px;}
	.img-2 {height: 250px;width: 270px;}
	.aword-part-taxt h3 {font-size: 28px;}
	.aword-part-taxt p.title-p {
		font-size: 18px;}
		.aword-part-taxt p.contant-p{max-height:inherit ;}
		.arrow-class button.owl-next {
			right: -35px;}
			.arrow-class button.owl-prev {
				left: -35px;}
	}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 768px) and (max-width:779px) {

	.first-text-part h1 {font-size: 24px;}
	.first-text-part h4 {font-size: 22px; margin: 10px 0 30px;}
	.top-first-part {
		padding-top: 40px;
	}
	.main-bg-image {background: url(../images/Street_Straße.svg) center -30px / 100% no-repeat;}
	.first-text-part ul li {font-size: 16px;}
	

}
@media only screen and (min-width: 780px) and (max-width:790px) {
	
}
@media only screen and (min-width: 791px) and (max-width:800px) {
	
}
@media only screen and (min-width: 801px) and (max-width:812px) {
	

}
@media only screen and (min-width: 813px) and (max-width:834px) {
	

}



@media only screen and (min-width: 850px) and (max-width:896px) {
	
}
@media only screen and (min-width: 1000px) and (max-width:1024px) {

}

@media only screen and (min-width: 1050px) and (max-width:1080px) {
}

@media only screen and (min-width: 1200px) and (max-width:1250px) {
} 
@media only screen and (min-width: 1251px) and (max-width:1280px) {
	.third-part-image {padding-top: 94px;}
	.top-forth-part {padding-top: 140px}
	.fift-text-part {margin: 16px auto 0;}
} 

@media only screen and (min-width: 1350px) and (max-width:1366px){
	.main-bg-image {background: url(../images/Street_Straße.svg) center -105px / 100% no-repeat;}
	.top-second-part {
		padding-top: 80px;
	}
	.top-third-part {
		margin-top: 30px;
	}
	.top-forth-part {
		padding-top: 190px;
	}
	.fift-text-part {margin: 55px auto 0;}


}


@media only screen and (min-width: 1400px) and (max-width:1440px) {
	.main-bg-image {background: url(../images/Street_Straße.svg) center -120px / 100% no-repeat;}
	.top-second-part {
		padding-top: 100px;
	}
	.top-third-part {
		margin-top: 80px;
	}
	.top-forth-part {
		padding-top: 220px;
	}
	.fift-text-part {margin: 95px auto 0;}



}
@media only screen and (min-width: 1500px) and (max-width:1536px) {

	.main-bg-image {background: url(../images/Street_Straße.svg) center -145px / 100% no-repeat;}
	.top-second-part {padding-top: 110px;}
	.top-third-part {margin-top: 140px;}
	.top-forth-part {padding-top: 260px;}
	.fift-text-part {margin: 145px auto 0;}






}
@media only screen and (min-width: 1570px) and (max-width:1600px) {
	.third-part-text {padding-top: 250px;}
	.main-bg-image {background: url(../images/Street_Straße.svg) center -165px / 100% no-repeat;}
	.third-part-image {padding-top: 290px;}
	.top-second-part {padding-top: 160px;}
	.top-forth-part {padding-top: 295px;}
	.fift-text-part {margin: 180px auto 0;}
}
@media only screen and (min-width: 1601px) and (max-width:1680px) {
	.main-bg-image {background: url(../images/Street_Straße.svg) center -190px / 100% no-repeat;}
	.top-second-part{padding-top: 170px;}
	.top-forth-part {padding-top: 320px;}
	.fift-text-part {margin: 100px auto 0;}
	.top-fift-image {max-width: 695px;}
	
}

@media only screen and (min-width: 1850px) and (max-width:1920px) {
	.main-bg-image {background: url(../images/Street_Straße.svg) center -250px / 100% no-repeat;}
	.top-second-part {padding-top: 300px;}
	.top-forth-part {padding-top: 425px;}
	.fift-text-part {margin: 300px auto 0;}
	.top-third-part {
		margin-top: 310px;
	}
	.top-fift-image {
		max-width: 565px;}
}