/* ------------------------------- */


/* responsive css*/



@media only screen and (max-width: 640px) {
	
}

/* Small devices (portrait tablets and large phones, 767px and up) */

@media only screen and (max-width: 767px) {

	.footer-image img {
		width: 124px;
		height: 124px;
	}
	.first-text-part {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	.first-text-part {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;
		padding-bottom: 30px;
	}
	.aword-forth-img {
		width: 46px !important;;
		height: 128px !important;;
	}
	.aword-third-img {
		width: 83px !important;;
		height: 96px !important;;
	}
	.aword-second-img {
		width: 83px;
		height: 96px !important;
	}
	.aword-first-img {
		width: 83px !important;
		height: 96px !important;
	}
	.top-navbar .fixed-top {
		padding: 13px 15px 11px;
		z-index: 9999999;
	}
	.bg-green .item {
		width: 294px;
		margin: 0 auto;
	}
	.bg-green .arrow-class button.owl-prev {
		position: absolute;
		left: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.bg-green .arrow-class button.owl-next {
		position: absolute;
		right: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.fift-text-part h3{font-size: 24px;line-height: 1.25;}
	.main-content .owl-theme .custom-nav {
		top: 40%;}
	.top-third-part {
		margin-top: 45px;
	}
	.footer-main {
		vertical-align: middle;
		align-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	.footer-image {
		position: inherit;
		left: 0;
		padding-bottom: 50px;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0!important;
	}
	.footer-main ul.footer-last-taxt {
		padding-bottom: 60px !important;color: #ffffff;
	}
	.main-bg-image{background: inherit; width: 100%;}
	.first-text-part h1{font-size: 24px;line-height: 1.25; width: 100%;}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.faq-accordion-heading a span {
		width: 300px;
		float: left;
	}
	.first-text-part h1 {
		font-size: 24px;
		/* max-width: 350px; */
		width: 100%;
		line-height: 1.25;
		width: 100%;
	}
	.first-text-part h4 {
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: normal;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	.first-image-part {
		position: inherit;
		max-width: 375px;
		margin: 0 auto;
	}
	.first-image-part img {
		position: inherit;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;padding-bottom: 30px;
	}
	.first-text-part .sm-center {
		margin-top: 10px;
	}
	.sm-center {
		width: 100%;
		text-align: center;
	}
	.btn-3a.bg-orang-btn {
		width: 270px;
		height: 55px;
		font-family: HDI-GerlingSans;
		font-size: 20px;
		padding: 10px 50px 10px 5px;
		font-weight: bold;
	}
	.btn-3:after {
		width: 53px;
		padding: 0px;
		font-size: 35px;
	}
	.top-second-part {
		max-width: 346px;
		text-align: left;
		margin: 0 auto;
		height: inherit;
		padding-top: 76px;
		width: 100%;
	}
	.top-second-part h3{font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #009c33;}
		.top-second-part p {
			font-size: 17px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.35;
			letter-spacing: normal;
			color: #000000;float: left;    margin: 0;padding: 0;
		}
		.bg-wight {
			padding-bottom: 0px;
		}
		.open-more-option {
			padding-top: 3px;
		}
		.accordian-slider .owl-dots {
			margin: 40px 0 7px 0;;
		}
		.hover-image-slider .owl-dots {
			margin: 37px 0 19px 0;
		}
		.aword-part-taxt-title {
			max-width: 346px;
			margin: 0 auto;
		}
		
		.top-third-part .d-flex {
			flex-direction: column;
		}
		.third-part-image {
			padding: 0;
			max-width: 361px;
			height: 204px;
			margin: -40px auto 0;
		}
		.top-forth-part .d-flex {
			flex-direction: column-reverse;
		}
		.top-forth-part-image {
			padding-top: 32px;
			max-width: 375px !important;
			margin: 0 auto;
			width: 100% !important;
		}
		.forth-part-text {
			text-align: left;
			text-align: left;
    		max-width: 346px;
    		margin: 0 auto;    padding-top: 10px;width: 100% !important;
		}
		.forth-part-text p {
			width: 100%;
			float: left;
			font-size: 17px;
			line-height: 1.35;margin: 0;padding-bottom: 7px;

		}
		.top-fift-part {
			max-width: 346px;
			margin: 0 auto;
		}
		.fift-text-part {
			width: 100%;
			height: 100%;
			text-align: left;
			margin: 43px auto 0;
			display: inline-block;
		}
		.fift-text-part p {
			margin-bottom: 16px;
			font-size: 17px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.35;
		}
		.top-fift-image {
			width: 100%;
			margin-top: 18px;
			max-width: 375px;
			display: inline-block;
		}
		.top-fift-image img {
			max-width: 375px;
			float: left;
		}
		.switching-part {
			padding-top: 63px;
		}
		.switching-part p {
			font-size: 19px;
			font-weight: 300;
			line-height: 1.32;
			padding-bottom: 33px;
		}
		.switching-part h3 {
			font-size: 24px;
			padding: 0;
			margin: 0;
			line-height: 1.25;
			padding-bottom: 5px;
		}
		.switching-part-section ul {
			max-width: 320px;
			margin: 0 auto;
		}
		.protaction-part-title h3 {
			font-size: 24px;
			line-height: 1.25;
		}
		.protaction-part-title {
			width: 100%;
			height: 100%;
			margin: 0 auto 17px;
			max-width: 320px;
		}
		.image-part img {max-height: 150px;}
		.image-part-height {height: 150px;}				
		h3.protaction-title {
			font-size: 19px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.16;
			letter-spacing: 0.95px;
		}
		.protaction-table-section.m-l-r-10 {
			margin: 0 !important;
		}
		.protaction-table-section h4 {margin: 24px 0 33px;}
		.protaction-table-section h5 span {line-height: 0.83;}
		.protaction-table-section .border-btn {margin: 30px 0 33px 0;}
		.protaction-contant-part li {padding-bottom: 30px;font-size: 16px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.38;}
		.protaction-part-title p {
			font-size: 19px;
			font-weight: 300;
			font-stretch: condensed;
			font-style: normal;
			line-height: 1.84;
		}
		.protaction-table-part {
			padding-top: 20px;
		}
		.protaction-table-section {
			width: 100%;    max-width: 100%;}
		
		.switching-part-title {
			width: 100%;max-width: 320px;
			margin: 0 auto;
		}
		.forth-part-text h4 {
			font-size: 17px;line-height: 1.35;}
			.top-third-part {float: left;}
			.third-part-text {
				padding-left: 0;
				max-width: 346px;
				float: left;
				padding-top: 25px;
				margin: 0 auto;
			}
			.border-btn {
				width: 230px;
			}
			.top-forth-part {
				padding-top: 0px;
				float: left;
			}
			.third-part-text h4 {
				font-size: 17px;
				line-height: 1.35;
			}
			.third-part-text p {
				font-size: 17px;
				line-height: 1.35;margin-bottom: 21px;
			}
			.protaction-table-section h5 {
				line-height: 1.81;
			}
			.acordian-bottom-part-title h3 {
				font-size: 24px;
				line-height: 1.25;
			}
			.accordion-heading {
				margin-bottom: 0;
			}
			.accordian-part .accordion {
				max-width: 346px;
				margin: 0 auto;
			}
			.acordian-bottom-part-title {
				max-width: 344px;
				margin-top: 76px;max-height: 100%;
			}
			.accordion-inner.accordian-table {
				margin-top: 42px;
			}
			.acordian-bottom-part-title p {
				font-size: 17px;
				line-height: 1.35;margin-bottom: 40px;

			}
			.bg-green .accordion-inner.accordian-table {
				margin-top: 42px;
			}
			.aword-part1 .w-50 {
				width: 100% !important;
				float: left;
			}
			.pos {
				position: inherit;
			}
			.image-test {
				height: auto;
				position: relative;
				overflow-x: hidden;
				margin-top: 50px;
			}
			img.aword-img1 {
				padding-right: 0;
				margin-left: 28px;
				width: 50%;
				height: 142px;
			}
			img.aword-img2 {
				overflow-x: hidden;
				width: 50%;
				float: left;
				position: absolute;
				right: -58px;
				height: auto;
			}
			.awords-img .item {
				display: flex;
				vertical-align: middle;
				align-content: center;
				height: 200px;
			}
			.awords-img .item img {
				float: left;
				max-height: 100%;
				width: 80px;
				margin: auto;
			}
			.aword-part-taxt {
				max-width: 346px;
				margin: 0 auto;
				text-align: center;
			}
			.aword-part-taxt h3 {font-size: 24px; line-height: 1.25;padding: 0 20px;}
			.aword-part-taxt p.title-p {
				font-size: 19px;line-height: 1.39;padding: 0 52px;
			}
			.aword-part-taxt p.contant-p{width: 100%; height:100%;font-size: 17px;line-height: 1.35;
			  }
			  .faq-section .faq-part {
				max-width: 375px;
				margin: 0 auto;
			}
			.faq-accordion-heading a {
				font-size: 19px;
				font-weight: 300;
				font-stretch: condensed;
				font-style: normal;
				line-height: 1.32;
			}
			.faq-accordion-heading {
				padding: 10px 0;
			}
			.arrow-class button.owl-next, .arrow-class button.owl-prev {
				height: 40px !important;
				width: 40px!important;
				background: rgba(0, 156, 51, 0.45) !important;color: #ffffff !important;
			}
			
			.navbar-toggler-icon i{font-size: 32px;color: #009c33;}
			ul.navbar-nav.ml-auto.py-4.py-md-0 {
				background-color: rgba(0, 156, 51, 0.85);
				text-align: center;
			}
			.collapse.show a.nav-link {
				color: #fff;
				font-size: 19px;
				font-weight: bold;
			}
			.top-navbar a.navbar-brand {padding: 20px 15px;}
			.top-navbar .navbar-toggler {padding: 20px 15px;}
			.top-navbar .fixed-top {
				padding: 0;
			}
			/* .arrow-class button.owl-prev {
				background: rgba(0, 156, 51, 0.45) !important;
			} */
			.switching-first-image img {
				width: 51.6px !important;
				height: 75.1px !important;
			}
			li.switching-second-image {
				width: 100px;
				text-align: center;margin: 29px 0 31px 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.switching-second-image img {
				width: 55.9px !important;
				height: 75px !important;
			}
			li.img-last-part {
				width: 100px !important;
				text-align: center;
				display: flex;
				   align-items: center;
				   justify-content: center;
			}
			li.img-last-part img {
				width: 84px !important;
				height: 52.4px !important;
			}
			li.switching-first-image {
				width: 100px ;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.accordian-part a {
				font-size: 17px;}

	.none-sm {
		display: none;
	}
	.none-lg {
		display: block !important;
	}
	.top-navbar .navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
		display: none;
	}
}


@media only screen and (max-width: 450px){

}

@media only screen and (max-width: 370px){

}

@media only screen and (min-width: 320px) and (max-width:400px) {
	.arrow-class button.owl-prev {
		position: absolute;
		left: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.first-text-part h1 {
		font-size: 18px !important;}
	.arrow-class button.owl-next {
		position: absolute;
		right: -20px;
		top: 40%;
		height: 40px !important;
		width: 40px!important;
	}
	.switching-part h3 {
		font-size: 19px;}
		.first-text-part h1 {
			font-size: 19px;}
	.faq-accordion-heading a span {
    width: 280px;
    float: left;}
}
			
			
	


@media only screen and (min-width: 768px) {
	.none-sm {
		display: block;
	}
	.none-lg {
		display: none !important;
	}
	
}


/* Large devices (laptops/desktops, 992px and up) */


@media only screen and (min-width: 992px) and (max-width:1199px) {
    ul.hegiht-protection {height: 500px;}
	.image-part img {max-height: 205px;}
	.image-part-height {height: 200px;}

	.img-1 {
		height: 280px;
		width: 215px;}
	.img-2 {height: 250px;width: 270px;}
	.aword-part-taxt h3 {font-size: 28px;}
	.aword-part-taxt p.title-p {
		font-size: 18px;}
		.aword-part-taxt p.contant-p{max-height:inherit ;}
		.arrow-class button.owl-next {
			right: -35px;}
			.arrow-class button.owl-prev {
				left: -35px;}
	}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 768px) and (max-width:991px) {
	/*  */
	.bg-wight .btn-3a.bg-orang-btn {font-size: 14px;max-width: 200px !important;}
	.bg-wight .btn-3:after {width: 40px;}
	 .protaction-table-section .bg-wight h4 {font-size: 18px;}
	 .image-part img {max-height: 160px !important;}
	 .image-part-height {
		height: 150px !important;}
		.arrow-class button.owl-next {right: -40px!important;}
		.arrow-class button.owl-prev {left: -40px !important; }
		.aword-part-taxt h3 {
			font-size: 28px;
		}
		.aword-part-taxt p.title-p {
			font-size: 18px;
		}
		.img-1 {
			height: 221px;
			width: 172px;
		}
		.img-2 {
			height: 200px;
			width: 200px;
		}
		.aword-part-taxt p.contant-p {
			max-height: inherit;
		}
		.navbar-expand-md .navbar-nav .nav-link {
			padding-right: 5px;
			padding-left: 5px;
		}
	}


@media only screen and (min-width: 768px) and (max-width:1024px) {
	.slider-rate-part h4 {
		font-size: 20px;}
	.main-bg-image {
		background: inherit;
		width: 100%;
	}
	.first-text-part h1 {
		font-size: 24px;
		width: 100%;
		line-height: 1.25;
		width: 100%;
	}
	.first-text-part h4 {
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: normal;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	.top-first-part .d-flex {
		flex-direction: column-reverse;
	}
	.first-text-part ul {
		margin: 44px 0 0;
	}
	.first-text-part ul li {
		font-size: 17px;
		padding-bottom: 30px;
	}
	.first-text-part .sm-center {
		margin-top: 10px;
	}
	.bg-wight .btn-3a.bg-orang-btn {max-width: 270px;}
	.btn-3a.bg-orang-btn {
		width: 270px;
		height: 55px;
		font-family: HDI-GerlingSans;
		font-size: 20px;
		padding: 10px 50px 10px 5px;
		font-weight: bold;
	}
	.btn-3:after {
		width: 53px;
		padding: 0px;
		font-size: 35px;
	}
	.first-image-part {
		position: inherit;
		max-width: 375px;
		margin: 0 auto;
	}
	.first-image-part img {
		position: inherit;
	}
	.top-second-part {
		max-width: 346px;
		text-align: left;
		margin: 0 auto;
		height: inherit;
		padding-top: 76px;
		width: 100%;
	}
	.top-second-part h3 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.25;
		color: #009c33;
	}
	.first-text-part {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	.top-third-part {
		float: left;    margin-top: 45px;
	}
	.top-third-part .d-flex {
		flex-direction: column;
	}
	.third-part-image {
		padding: 0;
		max-width: 361px;
		height: 204px;
		margin: -40px auto 0;
	}
	.third-part-text {
		padding-left: 0;
		max-width: 346px;
		float: left;
		padding-top: 25px;
		margin: 0 auto;
	}
	.third-part-text h4 {
		font-size: 17px;
		line-height: 1.35;
	}
	.third-part-text p {
		font-size: 17px;
		line-height: 1.35;
		margin-bottom: 21px;
	}
	.sm-center {
		width: 100%;
		text-align: center;
	}
	.border-btn {
		width: 230px;
	}
	.bg-wight .border-btn  {
		max-width: 200px;
	}

	.bg-wight .border-btn a {
    font-size: 16px;
	}
	
	.top-forth-part {
		padding-top: 0px;
		float: left;
	}
	.top-forth-part .d-flex {
		flex-direction: column-reverse;
	}
	.forth-part-text {
		text-align: left;
		text-align: left;
		max-width: 346px;
		margin: 0 auto;
		padding-top: 10px;
	}
	.forth-part-text h4 {
		font-size: 17px;
		line-height: 1.35;
	}
	.forth-part-text p {
		width: 100%;
		float: left;
		font-size: 17px;
		line-height: 1.35;
		margin: 0;
		padding-bottom: 7px;
	}
	.top-forth-part-image {
		padding-top: 32px;
		max-width: 375px !important;
		margin: 0 auto;
	}
	.top-fift-part {
		max-width: 346px;
		margin: 0 auto;
	}
	.fift-text-part {
		width: 100%;
		height: 100%;
		text-align: left;
		margin: 43px auto 0;
		display: inline-block;
	}
	.fift-text-part h3 {
		font-size: 24px;
		line-height: 1.25;
	}
	.fift-text-part p {
		margin-bottom: 16px;
		font-size: 17px;
		font-weight: 300;
		font-stretch: condensed;
		font-style: normal;
		line-height: 1.35;
	}
	.top-fift-image {
		width: 100%;
		margin-top: 18px;
		max-width: 375px;
		display: inline-block;
	}
	.top-fift-image img {
		max-width: 375px;
		float: left;
	}
	a.nav-link {
		font-size: 14px;}
		.top-navbar .fixed-top {
			padding: 24px 20px;}
			.image-part img {
				max-height: 205px;
			}
	
}

@media only screen and (max-width: 1024px){
	.image-bg {
		display: none;
	}

}

@media only screen and (min-width: 1025px) {
	.main-width {
		width: 1200px;
		margin: 0 auto;
		position: relative;    height: 2200px;
	}
	.top-first-part {
		padding-top: 0;
	}
	.first-text-part {
		width: 50% !important;
		position: absolute;
		top: 105px;
	}
	.first-text-part.second-possition {
		position: absolute;
		top: 240px;
	}
	.first-image-part {
		width: 55%;
		position: absolute;
		right: 32px;
		top: 64px;
	}
	.first-image-part img {
		position: absolute;
		width: 86%;
		float: left;
		top: 0;
	}
	.top-second-part {
		max-width: 564px;
		width: 100%;
		height: 231px;
		font-style: normal;
		line-height: 1.32;
		letter-spacing: normal;
		color: #000000;
		margin: 0 auto;
		text-align: center;
		position: absolute;
		top: 700px;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		padding-top: 0;
	}
	.third-part-image {
		padding-top: 0;
		position: absolute;
		top: 820px;
	}
	.third-part-text {
		padding-left: 0;
		width: 100%;
		float: left;
		padding-top: 0;
		position: absolute;
		top: 820px;
		right: 65px;
		width: 418px !important;
	}
	.third-part-image {
		padding-top: 0;
		position: absolute;
		top: 820px;
		padding-right: 0;
    width: 500px !important;
	}

.third-part-text {
    padding-left: 0;
    width: 100%;
    float: left;
    padding-top: 0;
    position: absolute;
    top: 820px;
    right: 65px;
    width: 418px !important;
}
.forth-part-text {
    text-align: end;
    position: absolute;
    top: 1277px;
    left: -100px;
}
.forth-part-text p {
    max-width: 437px;
    width: 100%;
    float: right;
    margin: 0;
}

.top-forth-part-image {
    z-index: -1;
    padding-top: 0;
    position: absolute;
    top: 1280px;
    right: 90px;
}
.top-fift-part {
    position: absolute;
    top: 1642px;
    left: 50%;
    transform: translate(-50%,0%);
}
.fift-text-part {
    margin: 0 auto 0;
}

.top-fift-image {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}
.forth-part-text .sm-center {
    width: 100%;
    float: left;
}

}
@media only screen and (min-width: 1024px) and (max-width:1199px) {
	.third-part-image {
		padding-top: 0;
		position: absolute;
		top: 866px;
		padding-right: 25px;
		width: 440px !important;
	}
}
	