@font-face {
    font-family: 'futura-bold';
    src: url(../assets/fonts/futura-bold-bt.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-medium';
    src: url(../assets/fonts/futurabq-medium.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-light';
    src: url(../assets/fonts/futura-light-bt.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham-medium';
    src: url(../assets/fonts/Gotham-Medium.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    min-height: 100vh;
}

.checkbox-label-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-weight: normal;
}

.checkbox-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-label-container input:checked ~ .custom-checkbox {
    background-color: transparent;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-label-container input:checked ~ .custom-checkbox::after {
    display: block;
}

.checkbox-label-container .custom-checkbox::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 2px solid #fff;
}

.checkbox-content {
    margin-left: 25px;
    padding-left: 1.5rem;
    padding: 5px 1.5rem;
}

.small-nav {
    align-items: center;
    display: none;
}

.show-less-svg {
    transform: rotate(270deg);
}
.show-more-svg {
    transform: rotate(90deg);
}

.show__less-svg {
    transform: rotate(270deg);
}
.show__more-svg {
    transform: rotate(90deg);
}

.show-more {
    font-size: 1.5rem;
    color: #005f96;
    font-family: 'futura-medium';
    display: none;
}

.show__more {
    font-size: 1.5rem;
    color: #005f96;
    font-family: 'futura-medium';
    display: none;
}

.hamburger {
    width: 20px;
    height: 3px;
    background-color: #005f96;
    margin-right: 2rem;
    position: relative;
    transition: all 0.5s;
}
.services__heading {
    font-size: 2.4rem;
    font-family: 'futura-bold';
    line-height: 1.33;
    text-transform: uppercase;
}

.hamburger-close {
    width: 20px;
    height: 3px;
    background-color: transparent;
    margin-right: 2rem;
    position: relative;
    transition: all 0.5s;
}

.hamburger::before {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    transform: translateY(-8px);
    background-color: #005f96;
}

.hamburger::after {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    transform: translateY(8px);
    background-color: #005f96;
}

.hamburger-close::before {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    transform: translateY(-8px);
    background-color: #005f96;
    transform: rotate(45deg);
}

.hamburger-close::after {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    transform: translateY(-8px);
    background-color: #005f96;
    transform: rotate(-45deg);
}

.call-icon {
    fill: #ed7102;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
}

.less-margin {
    margin-right: 0;
    height: 2rem;
    width: 2rem;
    transform: translateY(-2px);
}

.mail-icon {
    fill: #005f96;
    margin-right: 1rem;
    height: 4rem;
    width: 4rem;
}

.heading-2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: normal;
    text-transform: uppercase;
    font-family: 'futura-bold';
    margin: 0;
}

.heading-2--center {
    text-align: center;
    padding: 6rem 35rem 5rem 35rem;
}

.heading-2--white {
    color: #fff;
}

.heading-2--blue {
    color: #005f96;
}

.btn:link,
.btn:visited {
    padding: 1rem 2.8rem;
    background-color: #ed7102;
    color: #fff;
    font-size: 1.4rem;
    margin-top: 3.2rem;
    font-family: 'gotham-medium';
    transition: all 0.2s;
    border-radius: 0;
}

.btn:hover,
.btn:active {
    background-color: #c56b14;
}

.header {
    width: 100%;
    height: 100vh;
}

.header__navigation {
    z-index: 50;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 6.2rem;
    background-color: #fff;
    width: 100%;
}

.header__logo {
    margin-left: 12rem;
    cursor: pointer;
}

.header__navigation-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 12rem;
    list-style-type: none;
    margin-bottom: 0;
    font-family: 'futura-light';
    transition: all 0.2s;
}

.list__item {
    transition: all 0.2s;
    width: auto;
}

.list__link:link,
.list__link:visited {
    text-decoration: none;
    color: #005f96;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
    backface-visibility: hidden;
}
.list__link:hover,
.list__link:active {
    backface-visibility: hidden;
    font-weight: bold;
}

.list__item:not(:last-child) {
    margin-right: 4.7rem;
}

.list__link--orange:link,
.list__link--orange:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ed7102;
}

.list__link--orange:link p,
.list__link--orange:visited p {
    margin: 0;
}

.header__hero {
    display: flex;
    height: 100%;
    background: url(../assets/demo-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__hero-text {
    background: linear-gradient(to left, rgba(225, 225, 225, 0), #d8d8d8);
    height: 100%;
    z-index: 10;
    width: 60%;
}

.header__hero-text-container {
    margin-top: 25rem;
    margin-left: 12rem;
}

.header__hero-text--primary {
    font-size: 3.6rem;
    line-height: 1.22;
    letter-spacing: normal;
    font-weight: bold;
    color: #005f96;
    font-family: 'futura-bold';
}

.header__hero-text--secondary {
    font-size: 2.3rem;
    line-height: normal;
    font-weight: 300;
    color: #005f96;
    margin-top: 1.3rem;
    font-family: 'futura-light';
}

.header__background {
    height: 100%;
}

.benefits {
    background-color: #37afb9;
}

.benefits__items {
    width: 100%;
    margin: 0;
    padding-bottom: 9rem;
}

.benefits__item {
    padding: 0;
    text-align: center;
}

.benefits__img.Anfahrtszeiten_Icon {
    height: 10rem;
    width: 10rem;
    z-index: 100;
}

.benefits__img.Icon_Angebot {
    height: 10rem;
    width: 10rem;
    z-index: 100;
}

.benefits__img.group {
    height: 10rem;
    width: 14rem;
    z-index: 100;
}

.benefits__img.Icon_Carbon {
    height: 10rem;
    width: 15rem;
    z-index: 100;
}

.benefits__img {
    height: 10rem;
    width: 15rem;
    z-index: 100;
}
.benefits__item-content-heading {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    font-weight: normal;
    color: #fff;
    text-transform: capitalize;
    font-family: 'futura-medium';
}
.benefits__item-content-description {
    margin-top: 1rem;
    padding: 0 3rem;
    font-size: 1.8rem;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'futura-light';
    line-height: 1.17;
    letter-spacing: 0;
}
.services {
    display: flex;
    overflow: hidden;
}
.services__content {
    width: 50%;
}

.services__content-container {
    margin-left: 10rem;
    margin-top: 6rem;
    margin-right: 9.4rem;
    margin-bottom: 12rem;
}

.services__heading {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
}

.services__description {
    font-size: 1.8rem;
    font-weight: 300;
    color: #005f96;
    margin-bottom: 3.7rem;
    font-family: 'futura-light';
    width: 105%;
    line-height: 1.33;
}

.services__items {
    margin-left: 4rem;
    list-style-type: none;
}

.services__item:not(:last-child) {
    margin-bottom: 3rem;
}

.services__heading-container {
    display: flex;
    margin-left: -1.5rem;
    align-items: center;
}

.bold-text a:link,
.bold-text a:visited {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

.bold-text a:hover,
.bold-text a:active {
    color: #ed7102;
}

.services__content-container svg {
    fill: #005f96;
    height: 1.4rem;
    width: 1.2rem;
}

.services__item-heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: #005f96;
    font-family: 'futura-medium';
    margin-left: 0.4rem;
    margin-bottom: 0;
}

.services__item-description {
    font-size: 1.8rem;
    font-weight: 300;
    color: #005f96;
    line-height: 1.33;
    font-family: 'futura-light';
    width: 105%;
}

.services__images {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.services__image:not(:last-child) {
    margin-bottom: 1rem;
}
.services__image {
    height: calc((100% / 3));
    /*height: 380px;*/
    width: 100%;
}
.carousel {
    /* height: 25vw; */
    background-color: #005f96;
    position: relative;
    padding: 5rem 0;
}
.carousel-inner {
    margin: 0 auto;
}
.carousel-indicators .active {
    margin-right: 1rem;
    margin-left: 1rem;
}

.container {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
}
.main__carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.carousel__content--primary {
    padding: 0 25rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: normal;
    font-family: 'futura-medium';
    margin-bottom: 2rem;
    letter-spacing: normal;
    color: #fff;
    font-weight: normal;
}
.carousel__content--secondary {
    padding: 0 10rem;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    line-height: 1.33;
    font-family: 'futura-light';
    letter-spacing: normal;
    font-size: 1.8rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5rem;
}

.carousel__content.active {
    display: initial;
    /*transition: display 4s ease-in-out;*/
    /*-webkit-animation: slide-down 4s ease-out;
    -moz-animation: slide-down 4s ease-out;
    animation: slide-down 4s ease-out;*/
}

.carousel__content {
    display: none;
    transition: display 5s ease-in-out;
}

/*.carousel__content--2 {
    display: none;
    transition: ease-in-out 4s;
}*/

.dots {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: #37afb9;
    border-radius: 50%;
}
.dot:not(:last-child) {
    margin-right: 1rem;
}

.dot-active {
    background-color: #fff;
    position: relative;
}
.dot-active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    display: block;
    border: 1px solid #fff;
}
.map {
}
.map__content {
    display: flex;
    margin: 0 14rem;
    margin-bottom: 3rem;
}

.map__content .map__dark {
    width: 50%;
    height: 320px;
}

.map__map-content {
    width: 50%;
    height: 320px;
    display: flex;
    flex-direction: column;
    background-color: #a5d2d2;
}
.map__map-content .content-container {
    border-bottom: 2px solid #37afb9;
    height: 33%;
    padding-left: 5.6rem;
    padding-top: 2.4rem;
    color: #005f96;
    cursor: pointer;
    transition: all 0.2s;
}

.content-container:hover {
    color: #fff;
    background-color: #37afb9;
}

.content-container h4 {
    font-size: 1.8rem;
    font-family: 'futura-medium';
}

.map__content-details {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    font-family: 'futura-light';
    margin-top: 1rem;
}
.content-details:not(:last-child) {
    margin-right: 5rem;
}

.about__main {
    display: flex;
}

.about__tiles {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 0.8rem;
    margin-left: 20rem;
    margin-right: 6rem;
    margin-bottom: 5rem;
}

.about__tile {
    position: relative;
}

.about__tile-content {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: 2rem;
    font-family: 'futura-light';
}

.about__tile-content--primary {
    padding-bottom: 2rem;
}

.tile-1,
.tile-4 {
    background-color: #a5d2d2;
}

.tile-2,
.tile-5 {
    background-color: #005f96;
}

.tile-3,
.tile-6 {
    background-color: #37afb9;
}

.tile-1 .about__tile-content,
.tile-3 .about__tile-content,
.tile-4 .about__tile-content {
    color: #004b78;
}

.tile-2 .about__tile-content,
.tile-5 .about__tile-content,
.tile-6 .about__tile-content {
    color: #fff;
}

.tile-1 .about__tile-content--primary,
.tile-3 .about__tile-content--primary,
.tile-4 .about__tile-content--primary {
    border-bottom: 3px solid #004b78;
}

.tile-2 .about__tile-content--primary,
.tile-5 .about__tile-content--primary,
.tile-6 .about__tile-content--primary {
    border-bottom: 3px solid #fff;
}

.about__description {
    margin-right: 20rem;
    color: #005f96;
}

.about__description-container:not(:last-child) {
    margin-bottom: 2.5rem;
}

.about__description-heading {
    font-family: 'futura-medium';
    font-size: 1.8rem;
    width: 85%;
    margin-bottom: 1rem;
}

.about__description-content {
    font-size: 1.8rem;
    line-height: 1.17;
    font-family: 'futura-light';
    width: 120%;
    hyphens: auto;
}

.bold-text {
    font-family: 'futura-medium';
    transition: all 0.2s;
    cursor: pointer;
}

.btn-center {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10rem;
}
.big-text {
    font-size: 3rem;
    font-family: 'futura-bold';
    margin-left: 1rem;
}

.brands {
    background-color: #f9f9f9;
}
.brands__images {
    display: flex;
    justify-content: center;
}

.brands__images img {
    cursor: pointer;
}
.brand__image:not(:last-child) {
    margin-right: 4.7rem;
    margin-bottom: 7rem;
}
.brand__image-one,
.brand__image-three {
    height: 6rem;
    width: 9rem;
}

.brand__image-two,
.brand__image-four {
    height: 7.6rem;
    width: 7.6rem;
}

.contact {
    background-color: #005f96;
}

.contact__description {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 30%;
    line-height: 1.33;
    font-size: 1.8rem;
    font-family: 'futura-light';
    color: #fff;
    padding-bottom: 4rem;
}

.contact__form-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
}

.btn-outline:not(:last-child) {
    margin-right: 1.6rem;
}

.btn-outline {
    font-size: 1.8rem;
    line-height: 1.33;
    padding: 1rem 5rem;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'futura-medium';
    cursor: pointer;
}

.btn-active {
    background-color: #fff;
    color: #004b78;
}
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
}
.input-text:not(:last-child) {
    margin-right: 2.5rem;
}
.input-text {
    font-family: 'futura-light';
    font-size: 1.8rem;
    line-height: 1.33;
    color: #fff;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    width: 50%;
    padding: 0.6rem 0;
}
.form-group-block {
    padding-top: 3rem !important;
}
.form-group-block .input-text {
    width: 100% !important;
}
.input-text::placeholder {
    color: #a5d2d2;
    font-family: 'futura-light';
}
.input-checkbox {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
}
.check-box-container {
    display: flex;
    align-items: center;
}
#checkbox-content {
    color: #fff;
    font-family: 'futura-light';
    font-size: inherit;
    width: 100%;
    display: inline-block;
    width: 500px;
    font-size: 1.8rem;
}
.btn-form {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    margin-bottom: 6rem;
}
.contact-detail {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'futura-light';
    padding-bottom: 6rem;
}

.form--2 {
    display: none;
}

.form-group select {
    color: #a5d2d2;
}

.checkbox-container {
    margin-bottom: 5rem;
}

.checkbox-container p {
    font-size: 1.8rem;
    font-family: 'futura-medium';
    color: #fff;
    line-height: 1.33;
    margin-bottom: 2.4rem;
}

.checkboxes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxes-container div {
    width: calc(100% / 3);
    color: #fff;
}
.checkbox-content {
    font-size: 1.8rem;
    font-family: 'futura-light';
}
.checkboxes-container div .input-checkbox {
    height: 2rem !important;
    width: 2rem !important;
}

.form--3 {
    width: 53%;
    display: none;
}

.check-box-start {
    justify-content: flex-start;
}

.check-box-start .check-box-container {
    width: 100% !important;
}

.check-box-start .check-box-container .checkbox-content {
    width: 100% !important;
}
.footer {
    background-color: #37afb9;
    display: flex;
    flex-grow: 1;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer__content img {
    margin-bottom: 1rem;
    cursor: pointer;
}
.footer__content p {
    font-size: 1.8rem;
    font-family: 'futura-medium';
    color: #005f96;
    margin-bottom: 4rem;
    line-height: 2;
}

.footer__links {
    margin-left: auto;
    margin-right: 12rem;
    display: flex;
    align-items: center;
}

.footer__social-links a:not(:last-child) {
    display: inline-block;
    margin-right: 5rem;
}

.footer__social-icon {
    fill: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

.footer__social-icon:not(:last-child) {
    margin-right: 5rem;
}

.footer__links ul {
    list-style-type: none;
}

.footer__links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2;
    font-family: 'futura-medium';
    transition: all 0.2s;
}

.footer__links ul li a:hover {
    color: #005f96;
}

.footer__links ul li {
    display: flex;
    align-items: center;
}

.footer__link-icon {
    fill: #fff;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}
.hover-text:hover {
    color: #ff8200;
}

.dots-grid {
    display: none;
}

.dots-brands {
    display: none;
}
.dots-benefits {
    display: none;
}

.footer__social-icon:hover {
    fill: #005f96;
}
.map__map-content {
    overflow-y: scroll;
}

.banner-btn {
    margin-left: 25px;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
    .header__logo {
        margin-left: 8rem;
    }
    .header__navigation-list {
        margin-right: 8rem;
    }

    .about__tiles {
        margin-left: 10rem;
    }
    .main__carousel {
        width: 70%;
    }
    .heading-2 {
        text-align: center;
        padding: 0 auto;
    }
    .map__map-content {
        width: 50%;
    }
    .map__map-content .content-container {
        padding-left: 4.6rem;
    }
    .content-details:not(:last-child) {
        margin-right: 3rem;
    }

    .about__description-heading {
        width: 100%;
    }

    .heading-2--center {
        padding: 6rem 26rem 5rem 26rem !important;
    }
    .services__content-container {
        margin-left: 6rem;
    }
    .footer__logo-img {
        height: 25rem;
        width: 30rem;
    }
    .benefits__item-content-description {
        padding: 0 2rem;
        font-size: 1.6rem;
    }
    .list__item:not(:last-child) {
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }
    .header__hero-text-container {
        margin-top: 28rem;
    }
    .header__hero-text--primary {
        font-size: 4rem;
    }
    .header__hero-text--secondary {
        font-size: 3rem;
    }

    .list__item:not(:last-child) {
        margin-right: 2rem;
    }

    .about__tiles {
        grid-template-columns: repeat(2, minmax(190px, 1fr));
        grid-template-rows: repeat(3, minmax(150px, 1fr));
        margin-left: 5rem;
    }
    .about__description {
        margin-right: 15rem;
    }
    .map__map-content .content-container {
        padding-left: 3rem;
        padding-top: 3rem;
    }
    .content-container h4 {
        font-size: 1.6rem;
    }

    .content-container p {
        font-size: 1.6rem;
    }
    .content-details:not(:last-child) {
        margin-right: 1rem;
    }
    .services__heading {
        width: 100%;
        font-size: 2rem;
    }
    .benefits__item:nth-of-type(3),
    .benefits__item:nth-of-type(4) {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 800px) {
    .custom-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 2px solid #fff;
    }
    .checkbox-content {
        margin-left: 20px;
        padding-left: 1.5rem;
        padding: 5px 1.5rem;
    }
    .dots-benefits {
        display: flex;
        position: relative;
    }
    .services-heading {
        font-size: 2.5rem;
    }

    .header {
        height: 100vh;
    }
    .form-group {
        flex-direction: column;
        margin: 0;
        width: 100% !important;
    }
    .header__navigation-list {
        display: none;
        padding: 0;
    }
    .show-more {
        font-size: 2rem;
        display: block;
    }
    .show__more {
        font-size: 2rem;
        display: block;
    }

    .small-nav {
        display: flex;
        margin-left: auto;
    }
    .header__hero {
        flex-direction: column;
        background-image: none;
        height: calc(100vh - 6.2rem);
    }
    .header__hero-text {
        background: none;
        width: 100%;
        height: 0;
    }
    .header__hero-text-container {
        margin: 5rem 5rem;
    }

    .header__hero-text--primary {
        font-size: 3rem;
    }
    .header__hero-text--secondary {
        font-size: 3rem;
    }
    .header__background {
        order: -1;
        background: url('../assets/demo-hero.png');
        background-position: center;
        background-size: cover;
        height: 50vh;
    }
    .header-show {
        display: block;
        position: absolute;
        top: 6.2rem;
        background-color: rgba(0, 95, 150, 0.9);
        width: 100%;
        height: 475%;
        font-size: 2rem;
        padding: 2rem 0;
        box-sizing: border-box;
    }
    .list__item:not(:last-child) {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        margin-right: 0;
    }
    .list__item {
        display: block;
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: #fff;
        font-size: 2rem;
    }
    .list__item:last-child {
        display: none;
    }
    .list__link:link,
    .list__link:visited {
        color: #fff;
        font-size: 3rem;
    }
    .services {
        flex-direction: column;
    }

    .services__heading {
        text-align: left;
    }

    .services__images {
        width: 100%;
    }

    .services__items {
        display: none;
    }

    .services__content {
        width: 100%;
    }
    .services__images {
        order: -1;
        flex-direction: row;
    }

    .map__content {
        flex-direction: column;
        margin: 0 6rem;
    }

    .map__map-content {
        width: 100%;
        overflow-y: scroll;
        height: 200px;
    }

    .map__map-content::-webkit-scrollbar-track {
        box-shadow: 0 0 6px #005f96;
    }
    .map__map-content::-webkit-scrollbar-thumb {
        scrollbar-color: #005f96;
    }

    .map__content .map__dark {
        width: 100%;
    }

    .map__map-content .content-container:last-child {
        display: none;
    }

    .about__main {
        flex-direction: column;
    }
    .about__tiles {
        display: flex;
        margin-bottom: 3rem;
    }

    .about__tile {
        width: 50%;
        height: 30%;
    }
    .about__tile:nth-of-type(1),
    .about__tile:nth-of-type(3),
    .about__tile:nth-of-type(5) {
        margin-right: 1rem;
    }

    .about__tile:nth-of-type(3),
    .about__tile:nth-of-type(4),
    .about__tile:nth-of-type(5),
    .about__tile:nth-of-type(6) {
        display: none;
    }

    .about__description {
        margin: 0;
        padding: 0 10rem;
        overflow: hidden;
    }

    .about__description-content {
        width: 100%;
    }

    .contact__form-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__form-buttons .btn-outline {
        margin-bottom: 2rem;
        text-align: center;
        box-sizing: border-box;
        margin-right: 0;
    }
    .contact__description {
        width: 60%;
    }

    .footer__logo {
        display: none;
    }
    .footer {
        flex-direction: column;
    }
    .footer__content {
        padding-top: 3rem;
    }
    .footer__links {
        padding-top: 2rem;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .footer__links ul li {
        text-align: center;
    }
    .show-more-about {
        display: none;
    }

    .show__more svg {
        fill: #005f96;
        height: 1.4rem;
        width: 1.2rem;
    }

    .contact__form {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .form-group-block {
        padding: 0 !important;
    }

    .input-text {
        margin-bottom: 1rem;
        width: 100%;
    }

    .form-group-block .input-text {
        width: 100% !important;
    }

    .form--1 {
        display: block;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .form--2 {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 0;
    }

    .form-show {
        display: block;
    }

    .form--2 {
        width: 100%;
    }
    .form--3 {
        width: 100%;
        margin: 0 auto;
    }

    .check-box-container {
        margin-top: 2rem;
    }
    input[type='checkbox'] {
        margin: 0 1rem 0 0;
    }
    .dots-grid {
        display: flex;
        margin: 0;
        margin-bottom: 2rem;
    }
    .dot-active {
        position: relative;
    }
    .dot-active-white::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        display: block;
        border: 1px solid #005f96;
    }
    .dot-white {
        height: 1rem;
        width: 1rem;
        background-color: #fff;
        border-radius: 50%;
    }
    /* .dot-white::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        display: block;
        border: 1px solid #fff;
    } */
    .dots-benefits {
        margin-top: 0;
        padding-bottom: 2rem;
    }

    .call-icon {
        height: 24px;
        width: 24px;
    }

    .mail-icon {
        height: 35px;
        width: 35px;
    }

    .header---img {
        width: 60%;
    }

    .benefits__items {
        padding-bottom: 3rem;
    }

    .dot-white:not(:last-child) {
        margin-right: 1rem;
    }

    .btn-center {
        margin: 0 10rem;
    }

    .dot-active-white {
        background-color: #005f96;
    }
    .dots-brands {
        display: flex;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .brands__images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .brand__image:not(:last-child) {
        margin: 0;
        margin-bottom: 2rem;
    }

    .brand__image-two,
    .brand__image-three,
    .brand__image-four {
        display: none;
    }

    .services__image-1,
    .services__image-2 {
        display: none;
    }
    .services__image-1 {
        width: 100%;
    }

    .heading-2--center {
        padding: 4rem 15rem 3rem 15rem !important;
        font-size: 2rem;
    }

    .benefits__item-2,
    .benefits__item-3,
    .benefits__item-4 {
        display: none;
    }
    .dot-white {
        background-color: #fff;
    }

    .footer__social-icon {
        height: 4rem;
        width: 4rem;
    }
    .carousel__content--primary {
        padding: 0 12rem;
    }
    .carousel__content--secondary {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .header__logo {
        margin-left: 2rem;
    }
    .benefits__item-content-description {
        padding: 0 15rem;
    }
    .carousel__content--primary {
        padding: 0 8rem;
    }
    .carousel__content--secondary {
        padding: 0 0rem;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 37.5%;
    }
    .about__description {
        padding: 0 3rem;
    }
    .btn-center {
        margin: 0 3rem 10rem 3rem;
    }

    .heading-2 {
        font-size: 2.5rem;
        padding: 4rem 25rem 6rem 25rem !important;
    }

    .header__background {
        height: 57%;
    }
    .header__hero-text {
        height: 0%;
    }
    .btn:link,
    .btn:visited {
        font-size: 2.5rem;
        padding: 2rem 5rem;
    }

    .header__hero-text-container {
        margin: 7rem 5rem;
    }
    .header__hero-text--primary {
        font-size: 3rem;
        line-height: 1.18;
    }
    .header__hero-text--secondary {
        font-size: 3rem;
        line-height: 1.18;
    }
    .header-show {
        height: 720%;
        padding: 5rem 0;
    }
    .about__tiles {
        margin: 0;
        margin-bottom: 3rem;
    }
    .map__content .map__dark {
        height: 150px;
    }
    .map__content .content-container {
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .map__content {
        margin: 0 4rem;
        margin-bottom: 4rem;
    }
    .form--1 {
        display: none;
        width: 90%;
        margin: 0 auto;
    }
    .form-show {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .form--2 {
        width: 90%;
        margin: 0 auto;
    }
    .form--3 {
        width: 90%;
        margin: 0 auto;
    }

    .list__item {
        display: block;
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: #fff;
        font-size: 8rem;
    }
    #checkbox-content {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .checkboxes-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .checkbox-container:not(:last-child) {
        margin-top: 2rem;
    }

    .carousel__content--primary {
        padding: 0 4rem;
    }
    .carousel__content--secondary {
        padding: 0 0rem;
    }
    .heading-2 {
        padding: 4rem 15rem 6rem 15rem !important;
    }
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}
